@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #AAAAAA; */
}
body{
    font-family: 'Poppins', sans-serif;
    /* max-width: 1000px;
    margin: 0 auto;
    padding: 50px; */
}
/* .container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
}
/*******************  navbar**************/
/* nav{
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 10px 5px;
    
    
} */


 /*********influencer part********* */
/* .influencer{
    display: flex;
    background-image: url(images/Circle.svg);
    background-repeat: no-repeat;
    background-position: right 15% bottom 45%;
}
.influencer img{
    width: 100%;
} */ 
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    height:200px ;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
}
.influencer{
    display: flex;
    background-image: url(images/Circle.svg);
    background-repeat: no-repeat;
    background-position: right 1% bottom 45%;
    padding: 30px 0;
}
.influence-left{
    padding-top: 50px;
}
.influence-left p{
    padding-top:  10px;
    padding-bottom: 20px;
}
.influence-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
    color: cornsilk;
    margin: 0px 8px;
    font-weight: bold;
    

}
.influence-left h1{
    font-size: 52px;
    line-height: 70px;
}
.arro-space{
    /* word-spacing: 1rem; */
    padding-right:10px;
}
/* ********Company logo******** */
.company-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: start;
    align-items: end;
}

.compay{
    margin-top: 100px;
    margin-bottom: 40px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    height: 100px;
    
}
.company-logo .logo{
    padding-top: 30px;
}


.title-heading{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    

}
 .all-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 37px;
}     
.collection{
    /* position: absolute; */
    /* position: absolute; */
    width: 329px;
     height: 476px;
    background: #FFFFFF;
    /* border: 2px solid gray; */
    padding: 10px;
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
   
}

   

.title .font-size{
    font-weight: normal;
    font-size: 24px;
}
.star-color{
    color: #FFC014 ;
    margin-top: 15px;

}
.title .small-title-heading{
    font-weight: 500;
font-size: 28px;
line-height: 40px;

}
.title p{
   
    font-style: normal;
font-weight: bold;
font-size: 14px;
color: #787885;
}
.title span{
   margin: 10px;
    
}
.secend-button{
   
    
     /* border: none;
    color: #E02C6D;
    font-weight: 700;
    font-size: 16px; */
    
    margin: 0 auto;
    float: left;
}